name: test
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prod # Links to the "staging" environment settings
    steps:
        - name: Verify variable value
          run: echo "VITE_FIREBASE_API_KEY is $VITE_FIREBASE_API_KEY"
