name: test
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: staging # Links to the "staging" environment settings
    steps:
        - name: Verify variable value
          run: echo "MY_VARIABLE value is"
